.home {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.sidebar {
    background-color: #F3F4F6;
    height: inherit;
}

@media only screen and (min-width: 768px)  {
    .sidebar {
        position: unset;
        height: auto;
    }
}


.premium {
    border-top: 1px solid #E5E7EB;
}

.icon-wrapper {
    @apply flex px-4 py-2 items-center;
}

.menu-effect {
    transition: width 1s ease;
}